<h1>Listing bookmarks</h1>

<frameset>
  <legend>My Bookmarks</legend>

  <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Created By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><strong><%= bookmark.title %></strong></td>
        <td><%= bookmark.url %></td>
        <td><%= bookmark.created_by %>
        <td><%= link_to 'Show', bookmark %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
        <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark', new_bookmark_path %>

</frameset>

